.credit-history{
  flex: 1;
    padding:30px;
    width: 100%;
    box-sizing: border-box;
}

.credit-heading{
    text-align:center;
    font-size:48px;
    font-weight:700;
    margin-bottom:30px;
}

.credit-card{
  width: 100%;
    background:#fff;
    padding:40px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.credit-date-section{
    display:flex;
    align-items:flex-end;
    justify-content: flex-start;
    gap:30px;
    flex-wrap:nowrap;
}

.credit-field{
    display:flex;
    flex-direction:column;
}

.field label{
    font-size:18px;
    font-weight:600;
    margin-bottom:10px;
}

.date-picker-wrapper{
    position:relative;
}

.date-input{
    width:250px;
    height:58px;
    padding:0 45px 0 15px;
    border:1px solid #ddd;
    border-radius:4px;
    font-size:18px;
}

.calendar-icon{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    color:#444;
    pointer-events:none;
}

.submit-btn{
    height:58px;
    padding:0 35px;
    background:#4caf78;
    color:white;
    border:none;
    border-radius:5px;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
}

.export-btn{
    height:58px;
    padding:0 30px;
    background:#2e2929;
    color:#ffc107;
    border:none;
    border-radius:5px;
    font-size:18px;
    font-weight:600;
    display:flex;
    align-items:center;
    gap:8px;
    cursor:pointer;
}

.search-area{
    display:flex;
    justify-content:flex-end;
    margin:25px 0;
}

.search-area input{
    width:400px;
    height:55px;
    padding:0 20px;
    border:1px solid #ddd;
    border-radius:5px;
    font-size:18px;
}

.table-card{
    background:#fff;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 2px 8px rgba(0,0,0,0.08);
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    padding:20px;
    text-align:center;
    background:#f7f7f7;
    border:1px solid #e5e5e5;
    font-size:18px;
}

td{
    padding:25px;
    text-align:center;
}

.no-data{
    font-size:18px;
}

.entries{
    margin-top:20px;
    font-size:18px;
}