.main-layout{
    display:flex;
    min-height: 100vh;
}

   
 .content {
  flex: 1;
  margin-left: 340px;
  background: #f3f3f3;
  min-height: 100vh;
  padding: 25px 35px;

}

.stat-card{
  flex: 1;
  min-width: 280px;
    background:#f9c74f;
    border-radius:15px;
    padding:30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.footer{
    margin-top:40px;
    background:#fff;
    padding:35px;
    text-align:center;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.dashboard-page {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
}

.dashboard-content {
  flex: 1;
display: flex;
flex-direction: column;
}

.cards {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.charts-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.chart-box {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.chart-box h3 {
  text-align: center;
  margin-bottom: 15px;
}

.chart-box canvas {
  height: 300px !important;
}

@media (max-width: 768px) and (max-width:1024px) {
  .content{
    margin-left: 0;
    width: 100%;
    padding: 15px 20px;
  }

  .charts-container {
    flex-direction: column;
  }

  .cards{
    flex-direction: column;
    gap: 15px 20px;
  }

  .chart-box{
    width: 100%;
    overflow-x: auto;
  }
  .stat-card{
    min-width: 45%;
  }

  .footer{
    padding: 20px;

  }
}
