*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f9;
}

.register-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-card{
    width: 450px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0.2);
}

.register-card h1{
    text-align:center ;
    color: #1976d2;
    margin-bottom: 10px;
}

.register-card h2{
    text-align: center;
    margin-bottom: 25px;
}

.register-card label{
    display: block;
    margin-top: 15px;
    margin-bottom: 8px;
    font-weight: bold;
}

.register-card input{
    width:100%;
    padding: 12px;
    border:1px solid#ccc;
    border-radius: 5px;
    font-size: 15px;
}

.register-card button{
    width:100%;
    padding: 12px;
    margin-top: 25px;
    border: none;
    background: #1076d2;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.register-card button:hover {
  background: #1565c0;
}

.register-card p {
  margin-top: 20px;
  text-align: center;
}

.register-card a {
  color: #1976d2;
  text-decoration: none;
  font-weight: bold;
}

.register-card a:hover {
  text-decoration: underline;
}

@media (max-width:768px){

  .register-card{
    width:95%;
  }

  .register-form{
    grid-template-columns:1fr;
  }
}