/* Sidebar */
.sidebar {
  width: 340px;
  height: calc(100vh - 80px);
  background: #fff;
  color: #222;
  position: fixed;
  left: 0;
  top: 80px; /* navbar ki height */
  bottom: 0;
  overflow-y: auto;
  border-right: 1px solid #e5e5e5;
}

.menu-item{
    display:flex;
    align-items:center;
    gap:15px;
    padding:18px 25px;
    color:#222;
    text-decoration:none;
    cursor:pointer;
    transition:.3s;
    font-size:17px;

    font-weight:700;
}

.menu-item:hover{
    background:#f5f5f5;
}

.menu-item svg{
    font-size:18px;
    color: #555;
}



.submenu{
    background:#ffffff;
}

.submenu-item{
    display:flex;
    align-items:center;
    gap:10px;
    padding:16px 55px;
    color:#222;
    text-decoration:none;
    font-weight: 900;
    font-size:15px;
}

.submenu-item:hover{
    background:#f8f8f8;
    color:#000;
}

.active{
    background:#f4c430;
    color:#000;
    margin: 8px;
    border-radius: 12px;
    font-weight: 600;

}

.sidebar::-webkit-scrollbar{
    width:6px;
}

.sidebar::-webkit-scrollbar-thumb{
    background:#666;
}
.arrow{
    margin-left: auto;
}


@media (max-width:768px){

  .sidebar{
    width:280px;
    left: -280px;
    top: 70px;
    transition: all 0.3s ease;
    z-index: 1000;
  }

  .sidebar.active{
    left:0;
  }

  .menu-item{
    padding: 15px 20px;
    font-size: 15px;

  }
  .submenu-item{
    padding:12px 40px;
    font-size: 14px;
  }
  
}