.carde{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.stat-card{
    background: #f7c948;
    width: 320px;
    padding: 25px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
}

.stat-card h2{
    font-size: 40px;
    margin: 0;
}

.stat-card p{
    margin-top: 10px;
    font-size: 20px;
}

.icon{
    font-size: 40px;
}

